<div class="hero_image">
  <div class="row">
    <div class="small-12 columns">
      <p class="logo hero_logo">CONSUMR</p>
      <p class="logo logo_subtext">The premiere online interactive media library</p>
      <%= link_to 'Sign Up Now', new_user_registration_path, :class => "button large radius hero_button" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns large-4">
    <div class="mission mission_mobile">
      <i class="fa fa-book fa-4x"></i>
      <p>Create a robust media library of books, movies, and tv shows from all over the world.</p>
    </div>
  </div>
  <div class="small-12 columns large-4">
    <div class="mission mission_mobile">
      <i class="fa fa-users fa-4x"></i>
      <p>Find your friends to see the content they enjoy and are currently experiencing.</p>
    </div>
  </div>
  <div class="small-12 columns large-4">
    <div class="mission">
      <i class="fa fa-comment-o fa-4x"></i>
      <p>Make recommendations for your friends on the content they should enjoy or comment on their taste!</p>
    </div>
  </div>
</div>