<% unless user_signed_in? %>
  <h1 class="title">CONSUMR</h1>
<% else %>
  <div class="user_info">
    <%= image_tag avatar_url(current_user) %>
  </div>
  <div class="name">
    <%= current_user.full_name %>
  </div>
<% end %>