.all_users_container {
  text-align: center;
}

.user_favorites {
  margin-left: -20px;
  text-align: left;

  .user_favorites_title {
    font-style: italic;
  }
}

.user_profile_info {
  margin-bottom: 20px;
}