/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 //= require foundation_and_overrides

 *= require_tree .
 */
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

.clear {
  clear: both;
}

.button_to {
  display: inline-block;
}

.search_results {
  float: left;
}

.stock_poster {
  width: 154px;
  height: 220px;
}

.all_users_list, .all_friends_list {
  list-style: none;
}

.hero_image {
  background: url(bookshelf.jpg) no-repeat;
  background-size: cover;
  margin-top: -20px;
  text-align: center;

  a {
    margin-top: 40px;
    @media (max-width: 600px) {
      margin-top: -40px;
    }
  }

  .hero_logo {
    font-size: 5em;
    color: white;
    margin-top: 20px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

    @media (max-width: 600px) {
      margin-top: -5px;
      font-size: 2em;
    }

    @media only screen and (min-width: 601px) and  (max-width: 1300px) {
      margin-top: 20px;
      font-size: 5em;
    }
  }

  .logo_subtext {
    font-size: 2em;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

    @media (max-width: 600px) {
      margin-top: -20px;
      font-size: 1em;
    }
  }
}

.mission {
  text-align: center;
  margin-top: 30px;

  p {
    margin-top: 30px;
  }
}

.mission_mobile {
  @media(max-width: 600px){
    border-bottom: 1px solid #CCC;
  }
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}