/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.clear {
  clear: both;
}

.profile_container {
  float: left;
}

.user_favorites {
  float: left;
  margin-left: 10px;
}

.current_media {
  float: left;
  margin-left: 20px;
  border-bottom: 2px dashed black;
  display: inline
}

.button_to {
  display: inline-block;
}

.add_media_search_container {
  float: left;
}

.search_results {
  float: left;
}

.all_media {
  list-style: none;
}

.medium {
  clear: both;
  img {
    float: left;
  }

  .medium_info {
    float: left;
    list-style: none;
    margin-left: 5px;

    li {
      margin-bottom: 5px;
    }
  }
}

.new_media_form_container {
  float: left;
}

.stock_poster {
  width: 154px;
  height: 220px;
}
