@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.facebook {
  margin: 0 0 0 2px;
}

.hero_sep {
  color: white;
  margin: 0 5px 0 5px;
}