.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #F04124;
  color: white;
  font-size: 15px;
  &:hover {
    background-color: #CF2A0E;
    cursor: pointer;
  }
}

.new_recommendation {
  float: right;
  margin-top: 11px;
  @media (max-width: 600px) {
    margin-top: 4px;
  }
}

#new_recommendation {
  float: none;

  label {
    text-align: left;
  }
}

.rec_header {
  text-align: center;
}

.recommendation_header {
  border-bottom: 1px solid #CCC;

  .user_subheader {
    border: none;
  }
}